* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

.first_page{
    position: relative;
    min-height: 1023px;
    background: url("/src/img/bg/Group 2.png") center center/cover no-repeat;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px 0px 20px;
}

.top_block{
    min-width: 1360px;
    min-height: 115px;
    padding: 40px 0px 0px 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.consultation{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0;
    padding: 24px 71px;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
}
hr{
    color: #FFFFFF;
}

.bottom_block{
    margin-top: 39px;
}

.bottom_block_wrapper{
    min-width: 1360px;
    min-height: 130px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.divide{
    min-width: 523px;
    min-height: 75px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.home{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.4px;
    color: #D1B06B;
    text-decoration: none;
}
.rest{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: #FFFFFF;
}

.contacts{
    margin: 0px 0px 0px 218px;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 10px;
}
.calling{
    min-width: 270px;
    min-height: 62px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.phone{
    border: 2px solid #CCAA60;
    border-radius: 50px;
    padding: 22px 23px 22px 23px;
}

.text_phone{
    margin-left: 12px;

    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: #D1B06B;
}
.number{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.mail{
    min-width: 320px;
    min-height: 62px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.message{
    border: 2px solid #CCAA60;
    border-radius: 50px;
    padding: 23px 23px 23px 23px;
}

.text_mail{
    margin-left: 12px;

    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: #D1B06B;
}
.email{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.main_area_wrapper{
    position: relative;
    display: flex;
}

.main_titles{
    /* position: relative; */
    margin-top: 110px;
    padding: 0px 0px 0px 20px;
}

.main_title{
    margin-top: 14px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 78px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
.help{
    margin-top: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #D1B06B;
}

.btn_connect{
    width: 269px;
    height: 85px;
    margin-top: 28px;
    background: #D1B06B;
    border: 1px solid #D1B06B;
    box-shadow: 10px 10px 16px rgba(19, 4, 62, 0.994);
    border-radius: 15px;
    
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #1F2732;
    transition: All 0.8s ease;
    cursor: pointer;
}

.btn_connect:hover{
    width: 276px;
    height: 91px;
    background-color: #48d632;
}
.lawyer{
    position: absolute;
    top: 18px;
    right: 23px;
}

.welcome{
    /* position: relative; */
    height: 897px;
    padding-top: 140px;
    background: url("/src/img/bg/bg2.png") center center/cover no-repeat;
}

/* .welcome .container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px 0px 20px;
} */

.welcome_wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.images_wrapper{
    width: 498.75px;
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.welcome_info{
    min-width: 831.25px;
    min-height: 614px;
    margin-left: 53.25px;
}

.welcome_titles h2{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.titles_logo{
    margin-top: 11px;
}

.welcome_titles .welcome_subtitle{
    margin-top: 43px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}

.small_lawyer{
    margin-top: 33px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.small_lawyer_text{
    margin-left: 20px;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.statistic{
    margin-top: 45.3px;
    width: 831.25px;
    height: 126px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.statistic .cases{
    width: 315px;
    height: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3B434E;
    border-radius: 0px;
}

.statistic .cases .case_text{
    margin-left: 20px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}

.statistic .years{
    margin-left: 30px;
    width: 315px;
    height: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D1B06B;
    border-radius: 0px;
}
.statistic .years .years_text{
    margin-left: 20px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 0.4px;
    color: #1F2732;
}

.company_activity{
    padding: 110px 0 202px 0; 
    background: url("/src/img/bg/bg2.png") center center/cover no-repeat;
}

.company_activity .container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px 0px 20px;
}

.company_activity_wrapper{
    margin: 0 auto;
}

.company_activity_titles{
    min-width: 1360px;
    min-height: 138px;
    display: flex;
    justify-content: center;
}

.main_activity_title{
    min-width: 680px;
    min-height: 138px;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #FFFFFF;
}


.activity_sudtitle{
    margin: 43px 12px 0 0;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}
.activity_logo{
    margin-top: 11px;
}

.practice_areas{
    /* max-width: 1380px;
    max-height: 918px; */
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}
.card_item{
    max-width: 430px;
    width: 100%;
    min-height: 429px;
    background: url("/src/img/bg/bg_areas.png") center center/cover no-repeat;
    padding: 55px 50px 70px 50px;
}
.card_item_title{
    display: block;
    /* padding: 55px 142px 8px 50px; */
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 56px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
.card_item_subtitle{
    /* padding: 0 73px 0px 50px; */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}
.card_item_top{
    border-bottom: 1px solid #4E555F;
    padding-bottom: 40px;
}
.card_item_bottom{
    margin-top: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.card_item_bottom button{
    padding: 13px 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 10px 10px 16px rgba(19, 4, 62, 0.994);
    border-radius: 8px;
    background: #161D27;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
}

.partners_titles{
    /* margin-top: 116px; */
    margin: 0 auto;
    padding-top: 116px;
    min-width: 1360px;
    min-height: 266px;
}
.partners_titles .fighting {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #161D27;
}
.partners_titles .img_logo {
    padding-top: 13px;
}
.partners_titles .img_logo img {
    padding: 0 632px 40px 633px;
}
.partners_titles p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #909090;
}
.results{
    
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    padding-bottom: 81px;
}

.trusted_clients{
    width: 433px;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.trusted_clients .trusted_clients_text span{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.4px;
    color: #1F2732;
}
.trusted_clients .trusted_clients_text p {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #909090;
}

.results .cases{
    width: 433px;
    height: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20.33px;
}

.results .cases .cases_text span{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.4px;
    color: #1F2732;
}

.results .cases .cases_text p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #909090;
}

.results .crimanal_defence{
    width: 433px;
    height: 180px;
    background: url("/src/img/bg/bg_law.png") center center/cover no-repeat ;
    padding-top: 40px;

}
.results .crimanal_defence span{
    padding: 0 275px 101px 50px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
.results .crimanal_defence p{
    padding: 10px 220px 65px 50px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.our_partners{
    padding: 81px 40px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our_partners .title{
    margin: 0 40px 0 40px;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #161D27;
}
.our_partners_items{
    margin: 15px 0 130px 0;
    height: 156px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.our_partners_items .item img{
    padding-bottom: 30px;
}

.history{
    padding: 140px 20px;
    background: center center/cover no-repeat url("/src/img/history/bg/bg_history.png") ;
}
.history .history_content{
    background: url("/src/img/history/bg/bg_content.png") center center/cover no-repeat;
    padding: 80px 60px 70px 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 45px;
}
.history_law{
    min-width: 418px;
    min-height: 900px;
    width: 100%;
    padding-bottom: 35px;
}
.history_law .title{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.history_law .logo{
    margin-top: 11px;
}
.history_law .subtitles{
    margin-top: 40px;
}
.history_law .subtitles .subtitle{
    margin: 35px 0 13px 0;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #D1B06B;
}
.history_law .subtitles p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}
.justice_item {
    min-width: 264px;
    min-height: 900px;
}
.our_experiency{
    min-width: 383px;
    min-height: 900px;
    width: 100%;    
}
.our_experiency .title{
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 58px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.our_experiency .logo{
    margin-top: 11px;
}
.our_experiency .subtitle{
    margin-top: 43px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #D7D7D7;
}
.our_experiency .areas_statistic1{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 109px;
}
.our_experiency .areas_statistic2{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 97px;
}
.our_experiency .areas_statistic3{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 154px;
}
.our_experiency .areas_statistic4{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 94px;
}
.areas_case {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
.our_experiency .consulting_btn{
    display: block;
    margin-top: 50px;
    /* margin-bottom: 35.3px; */
    padding: 25px 71px;
    background: #D1B06B;
    border: 1px solid #D1B06B;
    border-radius: 0px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #1F2732;
    cursor: pointer;
}