* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*{
    font-family: 'Outfit', sans-serif;
}

.logo_attorney{
    position: absolute;
    width: 396.78px;
    height: 78px;
    left: 2px;
    top: 1px;
}
